{{ define "title" }}
Cards &ndash; {{ .Deck.Name }}
{{ end }}

{{ define "breadcrumb" }}
<li class="breadcrumb-item"><a href="/">Träna</a></li>
<li class="breadcrumb-item active">{{ .Deck.Name }}</li>
{{ end }}

{{ define "body" }}
<div class="mb-3">
        <div class="btn-group">
                <a href="/card/practice?deck={{ .Deck.ID }}" class="btn btn-outline-dark">Practice</a>
                <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                        <span class="visually-hidden">Toggle dropdown</span>
                </button>
                <div class="dropdown-menu">
                        <a class="dropdown-item" href="/card/practice?deck={{ .Deck.ID }}&reverse=true">Reversed</a>
                        <a class="dropdown-item" href="/card/practice?deck={{ .Deck.ID }}&random=true">Random</a>
                </div>
        </div>
        <a href="/card/create?deck={{ .Deck.ID }}" class="btn btn-outline-dark">Create</a>
        <div class="float-end">
                <a href="/export?deck={{ .Deck.ID }}" download class="btn btn-outline-dark">Export</a>
                <form method="post" action="/import" enctype="multipart/form-data" class="d-inline">
                        <label class="btn btn-outline-dark" for="file">Import</label>
                        <input id="file" name="file" class="form-control visually-hidden" required type="file" accept=".json" onchange="this.form.submit()">
                        <input name="deck" value="{{ .Deck.ID }}" required readonly hidden>
                </form>
        </div>
</div>
<table class="table table-hover align-middle mb-0">
        <thead>
                <tr>
                        <th>ID</th>
                        <th>Front</th>
                        <th>Back</th>
                        <th>Comfort</th>
                        <th>Last practiced</th>
                        <th></th>
                </tr>
        </thead>
        <tbody>
                {{ range .Cards }}
                <tr>
                        <td>{{ .ID }}</td>
                        <td>{{ .Front }}</td>
                        <td>{{ .Back }}</td>
                        <td title="{{ .Comfort }}">
                                {{ if eq .Comfort -1.0 }}
                                <span class="badge text-bg-dark">Not practiced</span>
                                {{ else if lt .Comfort 1.5 }}
                                <span class="badge text-bg-danger">Not sure</span>
                                {{ else if lt .Comfort 3.0 }}
                                <span class="badge text-bg-warning">Learning</span>
                                {{ else if le .Comfort 4.0 }}
                                <span class="badge text-bg-success">Confident</span>
                                {{ end }}
                        </td>
                        <td>
                                {{ if .LastPracticed }}
                                {{ .LastPracticed }}
                                {{ end }}
                        </td>
                        <td>
                                <div class="float-end">
                                        <a href="/card/update?deck={{ $.Deck.ID }}&card={{ .ID }}" class="btn btn-sm btn-outline-success fw-bold me-2">
                                                Update
                                        </a>
                                        <a href="/card/delete?deck={{ $.Deck.ID }}&card={{ .ID }}" class="btn btn-sm btn-outline-danger fw-bold">
                                                Delete
                                        </a>
                                </div>
                        </td>
                </tr>
                {{ end }}
        </tbody>
</table>
{{ end }}