{{ define "title" }}
Delete deck &ndash; Träna
{{ end }}

{{ define "small" }}col-lg-4 col-xl-3{{ end }}

{{ define "breadcrumb" }}
<li class="breadcrumb-item"><a href="/">Träna</a></li>
<li class="breadcrumb-item active">Delete</li>
{{ end }}

{{ define "body" }}
<form method="post" action="/deck/delete">
        <input type="text" class="form-control mb-3 text-center" value="{{ .Deck.Name }}" readonly>

        <div class="d-grid">
                <button type="submit" class="btn btn-danger">Delete</button>
        </div>

        <input name="deck" value="{{ .Deck.ID }}" required readonly hidden>
</form>
{{ end }}