{{ define "body" }}
<form method="post" action="/delete">
        <div class="position-absolute top-0 start-100 translate-middle badge bg-dark">Card {{ .Card.ID }}</div>

        <input type="text" class="form-control mb-3 fs-2 text-center" value="{{ .Card.Front }}" readonly>

        <input type="text" class="form-control mb-3 fs-2 text-center" value="{{ .Card.Back }}" readonly>

        <div class="d-grid">
                <button type="submit" class="btn btn-danger">Delete</button>
        </div>

        <input name="id" value="{{ .Card.ID }}" required readonly hidden>
</form>
{{ end }}